body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-transform: none;

	background-color: #ffffff;
}

a {
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*===========================================HEADER================================================*/

.header,
.header-catalog {
	font-size: 17px;
	line-height: 17px;

	background-color: #f3f7f9;
	background-image: url("img/header-back.jpg");
	background-repeat: repeat;

	width: 100%;
	margin-bottom: 60px;

}

.header-catalog {
	margin-bottom: 0;
}

.main-container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.header-list {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	text-align: center;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-transform: none;

	width: 100%;

	background-color: #293449;
}

.header-list .container {
	display: flex;
}

.header-logo {
	display: block;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;

	vertical-align: middle;
	padding: 9px 55px;
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0 0 #b52933;
}

.header-logo:hover {
	background-color: #ca2c37;
	box-shadow: inset 0 -5px 0 0 #9a212a;
}

.header-logo:active {
	background-color: #ba2732;
	box-shadow: inset 0 -5px 0 0 #8e1e26;
}

.header-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;

}

.header-link {
	padding: 0;
	margin: 0;
}

.header-link a {
	display: block;
	position: relative;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 50px;
	padding-right: 30px;
}

.bookmark-icon::before {
	content: "";

	position: absolute;
	top: 12px;
	left: 17px;
  	width: 16px;
  	height: 18px;
  
  	background-image: url("../img/icon-bookmark.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0 ;
  	
  	opacity: 0.3;
}

.bookmark-icon:hover::before {
	opacity: 1;
}

.cart-icon::before {
	content: "";

	position: absolute;
	top: 12px;
	left: 18px;
  	width: 18px;
  	height: 18px;
  
  	background-image: url("../img/cart-icon2.png");
  	background-repeat: no-repeat;
  	background-position: 0 0 ;
  	
  	opacity: 0.3;
}

.cart-icon:hover::before {
	opacity: 1;
}

.header-link a:hover {
	background-color: #212a3a;
}

.header-link a:active,
.header-link a:focus {
	background-color: #ee3643;
}

.header-search {
	position: relative;

	width: 270px;
	margin: 0;
	padding: 0;
	padding-left: 48px;
	padding-top: 12px;
	padding-bottom: 12px;

	list-style: none;
	background-color: #293449;
}

/*.search-label {
	display: block;
	width: 270px;
	height: 42px;
	position: relative;

	background-color: #293449;
}*/

.search-label:hover,
.header-search li:hover {
	background-color: #212a3a;
}

.search-label:active,
.search-label:focus,
.header-search li:active,
.header-search li:focus {
	background-color: #ffffff;
}

input[class="search"] {
	position: absolute;
	top: 10px;
	left: 48px;

	margin: 0;
	padding: 0;

	background-color: #293449;

	border: none;
	outline: none;
}

.search:hover {
	background-color: #212a3a;
}

.search::placeholder {
	color: #ffffff;
}

input[class=search]:hover {
	background-color: #212a3a;
}

input[class=search]:focus {
	color: #000000;

	background-color: #ffffff;
}

.checkout {
	margin: 0;
	padding: 0;
}

.checkout a {
	display: block;
	color: #ffffff;
	margin: 0;
	padding: 12px 20px;

	background-color: #63a63e;
}

.checkout a:hover {
	background-color: #5fbb2d;
}

.checkout a:active {
	color: rgba(255, 255, 255, 0.5);

	background-color: #518534;
}

.header-title {
	color: #ee3643;

	width: 100%;
	margin-bottom: 40px;
}

.header-title .container {
	display: flex;
	flex-direction: column;
}

.user-box {
	width: 940px;
	margin: 0;
	margin-top: 46px;
	margin-bottom: 45px;
	padding: 0;

	display: flex;
	justify-content: space-between;
}

.main-title {
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;

	margin: 0;
	margin-left: 53px;
	padding: 0;
}

.main-contacts {
	margin: 0;
	padding: 0;
}

.main-phone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	white-space: nowrap;

	margin: 0;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 72px;
	padding-right: 50px;

	border: 3px solid #ffffff;
}

.main-address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;

	margin: 0;
	padding: 0;
}

.user-navigation,
.navigation-main {
	list-style: none;
}

.user-navigation li {
	display: inline-block;
}

.header-login {
	margin: 0;
	padding: 0;
}

.header-login a {
	display: block;
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	padding: 12px 25px;	

	background-color: #ffffff;
	position: relative;
}

.header-login .login {
	padding-left: 48px;
	margin-right: 5px;
}

.login::before {
	content: "";

	position: absolute;
	top: 13px;
	left: 14px;
  	width: 22px;
  	height: 20px;
  
  	background-image: url("../img/icon-login1.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0 ;
  	
  	opacity: 0.1;
}

.login:hover::before {
	opacity: 1;
}

.login:active::before {
	opacity: 0.1;
}

.header-login a:hover {
	color: #ee3643;
}

.header-login a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-navigation-logged {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
}

.user-navigation,
.user-navigation-logged {
	margin: 0;
	padding: 0;
}

.user-navigation {
	margin: 0;
	padding: 0;
}

.user-login {
	display: block;

	padding-left: 47px;
	padding-right: 70px;
	padding-top: 12px;
	padding-bottom: 12px;
	white-space: nowrap;
	margin-top: 46px;
	margin-bottom: 10px;

	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
}

.user-navigation-logged li {
	display: inline-block;
}

.header-login-room {
	margin-right: 70px;
}

.header-login-orders {
	margin-left: 15px;
	margin-right: 27px;
}

.user-login:hover {

}

.user-login:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-login-orders {
	list-style: none;
}

.header-login-orders {
	color: #ee3643;
	list-style: none;
}

.header-login-orders a,
.header-login-room a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.header-login-orders a:hover,
.header-login-room a:hover {
	color: #ee3643;
}

.header-login-orders a:active,
.header-login-room a:active {
	color: rgba(50, 66, 92, 0.3);
}


.navigation {
	font-size: 17px;
	line-height: 17px;
	width: 940px;
	margin-bottom: 60px;

	/*background-color: #32425c;
	box-shadow: inset 0 -5px 0 0 #293449;*/
}

.navigation-main {
	margin: 0;
	padding: 0;

	display: flex;
	width: 100%
	flex-wrap: wrap;
}

.navigation-list {
	flex-grow: 1;
}

.navigation-main a {
	display: block;

	padding: 19px 0;
	vertical-align: middle;
	text-align: center;

	background-color: #32425c;
	box-shadow: inset 0 -5px 0 0 #293449;
}


.navigation-main a:hover {
	background-color: #293449;
}

.navigation-main a:active {
	color: rgba(255, 255, 255, 0.5);

	background-color: #1d2739;
}

/*============================================================MAIN=========================================*/

.offers-top {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;

	list-style: none;
}

.offers-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 940px;
	margin: 0;
	margin-bottom: 53px;
	padding: 0;

	list-style: none;
}

.offers-bottom-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.offers {
	list-style: none;
}

.offers-item-slider {
	margin: 0;
	padding: 0;

	list-style: none;
}

.offers-item-slider ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.offers-item {
	width: 300px;
}

.offers-item:nth-child(1) {
	background-color: #ffbf47;
}

.offers-item:nth-child(2) {
	background-color: #3bbce3;
}

.offers-item:nth-child(3) {
	background-color: #dc91d8;
}

.offers-bottom-left .offers-item:nth-child(1) {
	background-color: #8ed78f;
	margin-bottom: 20px;
}

.offers-bottom-left .offers-item:nth-child(1) .links-button{
	display: block;

	width: 85px;
	padding: 10px 0;
	padding-left: 23px;
	padding-right: 27px;
}

.offers-bottom-left .offers-item:nth-child(2) {
	background-color: #ffc047;
}

.offers-bottom-left .offers-item:nth-child(2) .links-button {
	display: block;

	width: 70px;
	padding: 10px 0;
	padding-left: 35px;
	padding-right: 30px;
}

.offers-title {
	display: block;

	font-weight: 700;
	font-size: 24px;
	line-height: 30px;

	margin-top: 20px;
	margin-left: 22px;
}

.links-button {
	display: block;

	width: 85px;
	padding: 10px 25px;
	margin-left: 25px;
	margin-top: 13px;
	margin-bottom: 22px;

	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.offers-top .offers-item {
	position: relative;
}

.new {
	position: absolute;

	width: 60px;
	height: 60px;
	top: 0;
	right: 0;

	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.offers-top .offers-item:nth-child(1)::before {
	content: "";
	position: absolute;

	width: 44px;
	height: 65px;
	top: 31px;
	right: 43px;

	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.offers-top .offers-item:nth-child(2)::before {
	content: "";
	position: absolute;

	width: 75px;
	height: 61px;
	top: 31px;
	right: 29px;

	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.offers-top .offers-item:nth-child(3)::before {
	content: "";
	position: absolute;

	width: 78px;
	height: 62px;
	top: 30px;
	right: 30px;

	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.offers-bottom-left .offers-item {
	position: relative;
}

.offers-bottom-left .offers-item:nth-child(1)::before {
	content: "";
	position: absolute;

	width: 59px;
	height: 72px;
	top: 26px;
	right: 45px;

	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.offers-bottom-left .offers-item:nth-child(2)::before {
	content: "";
	position: absolute;

	width: 78px;
	height: 63px;
	top: 32px;
	right: 30px;

	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.links-button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.links-button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.slider:nth-child(1) {
	width: 620px;
	height: 266px;

	background-image: url("../img/slider-1.jpg");
	background-repeat: no-repeat;
	background-size: auto auto;
}

.slider:nth-child(2) {
	width: 620px;
	height: 266px;

	background-image: url("../img/slider-2.jpg");
	background-repeat: no-repeat;
	background-size: auto auto;
}

.slider-title {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-left: 25px;

	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

.slider-description {
	display: block;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-left: 25px;

	font-family: "PT sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;	
}

.offers-bottom .slider:nth-child(2) .slider-description {
	display: block;
	margin: 0;
	padding: 0;
	margin-top: 4px;
	margin-left: 25px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.slider .open-catalog {
	display: block;
	padding: 10px 45px;
	margin-left: 25px;
	margin-top: 120px;
	max-width: 105px;
}

.popular-link,
.open-catalog,
.main-about-button,
.lost-popup {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;

	background-color: #ee3643;
	border-radius: 4px;
}

.popular-link:hover,
.open-catalog:hover,
.main-about-button:hover,
.lost-popup:hover {
	background-color: #ca2c37;
}

.popular-link:active,
.open-catalog:active,
.main-about-button:active,
.lost-popup:active {
	background-color: #ba2732;
}


.popular-head {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

	background-color: #f9f5f0;
}

.popular-head .popular-link {
	display: block;
	margin: 0;
	padding: 0;

	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 24px;
	padding: 10px 55px;
}

.popular-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;

	margin: 0;
	padding: 0;
	margin-left: 30px;
	margin-top: 29px;
	margin-bottom: 30px;
}

.popular-link {
	margin-right: 24px;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 21px;
	padding: 0;

	list-style: none;
}

.catalog-item {
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	color: #ffffff;
	width: 220px;
	height: 318px;
	margin: 0px;
	padding: 0px;

	border: 1px solid #eaeaea;
}

.catalog-item:hover {
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5)
}

.catalog-item-title {
	display: block;
	font-size: 18px;
	line-height: 20px;
	color: #000000;

	vertical-align: middle;
}

.catalog-old-price {
	color: #a9a9a9;
	text-decoration: line-through;
}

.catalog-current-price {
	background-color: #ee3643;
}

.item-hovering {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.item-buy {
	background-color: #63a63e;
	border-radius: 2px;
	box-shadow: inset 0 -3px 0 0 #367315;
}

.item-buy:hover {
	background-color: #5fbb2d;
}

.item-buy:active {
	background-color: #518534;
	box-shadow: none;
}

.item-bookmark {
	color: #32425c;
	border: 3px solid #63a63e;
	border-radius: 2px;
}

.item-bookmark:hover {
	color: #32425c;
	border: 3px solid #32425c;
	border-radius: 2px;
}

.item-bookmark:active {
	color: rgba(50, 66, 92, 0.3);
	border: 3px solid rgba(50, 66, 92, 0.3);
	border-radius: 2px;
}


.marks .popular-link {
	display: block;
	margin: 0;
	padding: 0;

	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 24px;
	padding: 10px 68px;
}

.mark-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 65px;

	list-style: none;
}

.mark {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

.mark a {
	display: block;

	width: 220px;
	height: 145px;

	border: 1px solid #eaeaea;
}

.mark a:hover {
	border: none;

	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
	border: 1px solid transparent;
}

.mark a:active {
	border: none;

	box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
	border: 1px solid transparent;
}

.mark a img:active {
	opacity: 0.3;
}

/*===================================================SERVICE========================================*/

.service {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	width: 100%;
	margin-bottom: 82px;

	background-color: #f3f7f9;
	background-image: url("img/header-back.jpg");
	background-repeat: repeat;
}

.service-slider {
	display: flex;
	justify-content: space-between;
	width: 940px;

	margin: 0;
	padding: 0;
	padding-bottom: 102px;
}

.main-info-title {
	display: block;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

	padding: 0;
	margin: 0;
	padding-top: 68px;
	padding-bottom: 40px;

}

.main-info-desc {
	padding: 0;
	margin: 0;
}


.service-slider-title {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
}

.service-slider-list {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	font-weight: 700;
	line-height: 30px;
	text-transform: normal;
	color: #ffffff;

	list-style: none;

	width: 240px;
	padding: 0;
	margin: 0;
	margin-top: 75px;

}

.servise-slider-item {
	width: 620px;
	padding: 0;
	margin: 0;
}

.service-button {
	display: block;
	padding-top: 14px;
	padding-bottom: 16px;
	padding-left: 17px;

	box-shadow: 0 1px 0 0 #293449,
				inset 0 1px 0 0 #405069;

	background-color: #32425c;
}

.service-button:hover {
	box-shadow: 0 1px 0 0 #293449,
				inset 0 1px 0 0 #405069;

	background-color: #293449;
}

.service-button:active,
.service-button:focus {
	color: #32425c;

	box-shadow: 0 1px 0 0 #ffffff,
				inset 0 1px 0 0 #ffffff;

	background-color: #ffffff;
}

.main-about .container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 86px;
}

.main-about {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;

}

.main-about-company {
	width: 540px;
	margin: 0;
	padding: 0;
}

.contacts {
	width: 300px;
	margin: 0;
	padding: 0;
}

.main-about-delivery {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	list-style: none;
}

.main-about .main-info-title {
	margin: 0;
	padding: 0;
}

.main-about .main-info-desc {
	margin: 0;
	padding: 0;
	margin-top: 35px;
	margin-bottom: 28px;
}

.main-about-li {
	margin-bottom: 25px;
}

.main-about .main-about-button {
	display: inline-block;
	font-family: "Cuprum",Arial,sans-serif;

	padding: 10px 40px;
}

.main-about .lost-popup {
	font-family: "Cuprum",Arial,sans-serif;

	display: inline-block;
	white-space: nowrap;

	padding: 10px 62px;
}

/*==============================================FOOTER===================================*/

.main-footer,
.footer-catalog {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;

	background-color: #32425c;
}

.footer-navigation {
	width: 100%;
}

.footer-navigation .container {
	display: flex;
}

.footer-logo-box {
	width: 330px;
	margin: 0;
	padding: 0;

	min-height: 193px;
}

.footer-logo {
	display: inline-block;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

	padding: 19px 40px;
	margin-bottom: 25px;

	background-color: #ee3643;
	box-shadow: inset 0 -5px 0 0 #b52933;
}

.footer-logo:hover,
.footer-logo:focus {
	background-color: #ca2c37;
	box-shadow: inset 0 -5px 0 0 #9a212a;
}

.footer-logo:active {
	background-color: #ba2732;
	box-shadow: inset 0 -5px 0 0 #8e1e26;
}

.footer-contacts {
	margin: 0;
	padding: 0;
}

.footer-site-navigation,
.footer-goods-navigation {
	padding: 0;
	margin: 0;

	display: flex;
}

.footer-site-navigation {
	justify-content: space-between;

	margin-top: 36px;
}

.footer-goods-navigation {
	justify-content: space-between;

	margin-top: 36px;
}

.footer-site-navigation li {
}

.footer-goods-navigation li {
	margin-left: 30px;
}

.footer-site-navigation,
.footer-goods-navigation,
.social,
.footer-mail {
	list-style: none;
}

.footer-navigation-goods a{
	color: #ffd180;
}

.footer-navigation-item a:hover,
.footer-navigation-goods a:hover {
	text-decoration: underline;
}

.footer-navigation-item a:active {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.footer-navigation-goods a:active {
	color: rgba(255, 209, 128, 0.5);
	text-decoration: none;
}

.footer-navigation-box {
	width: 550px;
	margin: 0;
	margin-left: 61px;
	padding: 0;


	min-height: 193px;
}

.footer-info {
	font-size: 16px;
	line-height: 18px;
	width: 100%;

	background-color: #293449;
}

.footer-info .container {
	display: flex;
	align-items: center;
}

.social-button {
	background-color: #212a3a;
}

.social-button:hover,
.social-button:active {
	background-color: #ee3643;
}

.mail,
.created {
	color: #ffd180;
}


.mail:hover,
.created:hover {
	color: #ffd180;

	text-decoration: underline;
}


.mail:active,
.created:active {
	color: #ee3643;

	text-decoration: none;
}

.copyright {
	/*display: block;*/
	width: 230px;
	height: 42px;
	padding: 0;
	margin: 0;
	margin-top: 36px;
	margin-bottom: 31px;
}

.social {
	width: 132px;
	min-height: 42px;
	padding: 0;
	margin: 0;
	margin-left: 160px;
	margin-right: 119px;

	white-space: nowrap;
}

.social li {
	display: inline-block;
}

.footer-mail {
	width: 300px;
	min-height: 42px;
	padding: 0;
	margin: 0;
}

.footer-mail-item {
	display: inline-block;

	margin-right: 45px;
}

/*==================================POPUP================================*/

.lost {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #000000;


	box-shadow: inset 0 5px 0 0 #ee3643;
	background-color: #ffffff;
}

.lost-form .lost-input,
.lost-form .lost-input {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999999;

	border: 2px solid #d7dcde;
	border-radius: 5px;
}

.lost-form .lost-input:hover,
.lost-form .lost-input:hover {
	border: 2px solid #b5b5b5;
	border-radius: 5px;
}

.lost-form .lost-input:active,
.lost-form .lost-input:active,
.lost-form .lost-input:focus,
.lost-form .lost-input:focus {
	border: 2px solid #ee3643;
	border-radius: 5px;

	outline: none;
}


.submit-popup {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;

	border: none;
	background-color: #ee3643;
	border-radius: 5px;
}

.submit-popup:hover {
	background-color: #ca2c37;
}

.submit-popup:active {
	background-color: #ba2732;
}

/*==================================================Catalog===========================================*/
.main-catalog {
	font-family: "PT sans", Arial, sans-serif;
	color: #000000;

	margin: 0;
	padding: 0;
}

.breadcrumbs {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;

	list-style: none;
}

.breadcrumbs li{
	display: inline;

	margin: 0;
	padding: 0;

	margin-left: 35px;
}

.breadcrumbs a {
	color: #000000;
}


.main-item-box {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 20px;

	background-color: #f2f6f8;
}

.main-container {
	display: flex;
	justify-content: space-between;

	margin-bottom: 60px;
}

.main-item {
	display: block;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
	padding-left: 29px;
	padding-top: 29px;
	padding-bottom: 30px;
}

.filters {
	width: 220px;

	min-height: 200px;
}

.catalog-filter {
	font-size: 13px;
	line-height: 18px;

	background-color: #f7f3ec;
	border-radius: 5px; 
}

.catalog-field {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.catalog-form-title {
	font-weight: 700;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}

.range-box  {

	background-color: #f7f3ec;
	border-radius: 5px;
}

.range {
	color: #00ca74;
}

.range-output {
	background-color: #f7f3ec;
}

.catalog-company {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;

	list-style: none;
}

.company-checkbox {

}


.catalog-submit-button {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	outline: none;
}

.catalog-submit-button:hover {
	border-color: #bdc6ca;
}

.catalog-submit-button:active {
	border-color: #ee3643;
}

.sort {
	display: flex;
	flex-direction: column;
	width: 700px;

	min-height: 400px;

	background-color: #f7f3ec;
}

.main-sort li {
	display: inline;
}

.main-sort {
	width: 700px;
	min-height: 38px;
	margin: 0;
	padding: 0;

	margin-bottom: 20px;
}

.sort .catalog-list {
	width: 700px;
	min-height: 994px;
	margin: 0;
	padding: 0;


	margin-bottom: 52px;
}

.catalog-sort {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	list-style: none;
}


.sort-type a {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #ee3643;
}

.sort-type a:hover {
	color: rgba(0, 0, 0, 1);
	text-decoration: underline;
	text-decoration-color: #ee3643;
}

.sort-type a:active,
.sort-type a:focus {
	color: #ee3643;
	text-decoration: none;
}

.pagination-list {
	width: 300px;
	margin: 0;
	padding: 0;

	min-height: 38px;

	list-style: none;
}

.pagination-list li {
	display: inline;
}

.pagination-button a,
.pagination-next a {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
}

.pagination-button a:hover,
.pagination-next a:hover {
	border-color: #bdc6ca;
}

.pagination-button a:active,
.pagination-next a:active {
	border-color: #ee3643;
}

.pagination-button a:focus,
.pagination-next a:focus{
	color: #ffffff;

	background-color: #ee3643;
	border-color: #ee3643;
}

.catalog-item-about {
	background-color: #f2f6f8;
}

.main-info-title {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.main-info-desc {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;

	padding: 0;
	margin: 0;
}

.main-catalog .catalog-item-about .main-info-desc {
	padding-bottom: 70px;
}

/*----------------------------------flex-elements----------------------------------*/
/*

.header,
.header-catalog {
	width: 100%;
	margin-bottom: 60px;
}

.header-catalog {
	margin-bottom: 0;
}

.main-container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}



.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}



.header-list {
	width: 100%;
	margin-bottom: 46px;
}

.header-list .container {
	display: flex;
}



.header-logo {
	width: 220px;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 13px;

	order: 1;
}

.header-navigation {
	min-width: 300px;
	margin: 0;
	padding: 0;
	display: flex;

	order: 3;
}



.header-link {
	width: 150px;
	height: 42px;
	display: inline-block;
	margin: 0;
	padding-top: 12px;
	padding-bottom: 12px;
}

.checkout a {
	display: inline-block;
	width: 150px;
	height: 42px;
	margin: 0;
	padding: 0;
}

.header-search {
	width: 270px;
	margin: 0;
	padding: 0;

	list-style: none;
	order: 2;
}
*/
/*

.header-title {
	width: 100%;
	margin-bottom: 40px;

}

.header-title .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.main-title {
	width: 200px;
	height: 70px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.main-contacts {
	width: 270px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.user-navigation,
.user-navigation-logged {
	width: 300px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

*/
/*
.navigation {
	width: 940px;
	margin-bottom: 60px;
}

.navigation-main {
	display: flex;


	justify-content: space-between;
}

*/

/*.offers-top {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;

	list-style: none;
}

.offers-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 940px;
	margin: 0;
	margin-bottom: 53px;
	padding: 0;

	list-style: none;
}

.offers-item-slider {
	margin: 0;
	padding: 0;

	list-style: none;
}

.offers-item-slider ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider p{
	margin: 0;
	padding: 0;
}

.offers-bottom-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}



.popular-head {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.popular-title {
	margin-left: 30px;
}

.popular-link {
	margin-right: 24px;
}


.catalog-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 21px;
	padding: 0;
}

.catalog-item {
	width: 220px;
	height: 318px;
	margin: 0px;
	padding: 0px;
}



.mark-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 65px;
}

.mark {
	width: 220px;
	height: 145px;
	margin-bottom: 20px;
}



.service {
	width: 100%;
	margin-bottom: 82px;
}

.service-slider {
	display: flex;
	justify-content: space-between;
	width: 940px;
}

.service-slider-list {
	width: 240px;
	height: 182px;
	padding: 0;
	margin: 0;
	margin-bottom: 102px;
}

.servise-slider-item {
	width: 620px;
	height: 182px;
	padding: 0;
	margin: 0;
	margin-bottom: 102px;
}



.main-about .container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 86px;
}

.main-about-company {
	width: 540px;
	margin: 0;
	padding: 0;
}

.contacts {
	width: 300px;
	margin: 0;
	padding: 0;
}

.main-info-title {
	margin: 0;
	padding: 0;
}



.footer-navigation {
	width: 100%;
}

.footer-navigation .container {
	display: flex;
}

.footer-logo-box {
	width: 330px;
	margin: 0;
	padding: 0;

	min-height: 193px;
}

.footer-navigation-box {
	width: 550px;
	margin: 0;
	margin-left: 61px;
	padding: 0;


	min-height: 193px;
}


.footer-info {
	width: 100%;
}

.footer-info .container {
	display: flex;
	align-items: center;
}

.copyright {
	*display: block;*
	width: 230px;
	height: 42px;
	padding: 0;
	margin: 0;
	margin-top: 36px;
	margin-bottom: 31px;
}

.social {
	width: 132px;
	min-height: 42px;
	padding: 0;
	margin: 0;
	margin-left: 160px;
	margin-right: 119px;
}

.footer-mail {
	width: 300px;
	min-height: 42px;
	padding: 0;
	margin: 0;
}

*/
/*============CATALOG=================*

.breadcrumbs {
	margin: 0;
	padding: 0;
}

.breadcrumbs li{
	display: inline;

	margin: 0;
	padding: 0;
}

.main-catalog {
	margin: 0;
	padding: 0;
}



.main-item-box {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-container {
	display: flex;
	justify-content: space-between;

	margin-bottom: 60px;
}



.filters {
	width: 220px;

	min-height: 200px;
}

.sort {
	display: flex;
	flex-direction: column;
	width: 700px;

	min-height: 400px;
}

.main-sort li {
	display: inline;
}

.main-sort {
	width: 700px;
	min-height: 38px;
	margin: 0;
	padding: 0;

	margin-bottom: 20px;
}

.sort .catalog-list {
	width: 700px;
	min-height: 994px;
	margin: 0;
	padding: 0;


	margin-bottom: 52px;
}

.pagination-list {
	width: 300px;
	margin: 0;
	padding: 0;

	min-height: 38px;
}

.pagination-list li {
	display: inline;
}

.main-info-desc {
	padding: 0;
	margin: 0;
}

=============================*/